on boot

# Balance (default profile)
on property:persist.performance.profile=0

    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 4

    setprop "persist.cpu.performance.profile" "balance"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000


    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 2
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 2

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 300

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 180000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 675000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 2288
    write /sys/class/devfreq/soc:qcom,cpubw/max_freq 14236
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50

    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 762
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 6881
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/polling_interval 10

    write /sys/class/devfreq/soc:qcom,l3-cdsp/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/min_freq 762
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/max_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu4/min_freq 762
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/max_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu4/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/polling_interval 50

    write /proc/sys/vm/swappiness 1
    write /proc/sys/vm/vfs_cache_pressure 100


# Performance (based on DrunkSauce Lite)
on property:persist.performance.profile=1

    setprop "persist.cpu.performance.profile" "performance"
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 4

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1228800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1536000


    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 4

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 2000

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 257000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 710000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active "N"

    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 14236
    write /sys/class/devfreq/soc:qcom,cpubw/max_freq 14236
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50

    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 6881
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 6881
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cdsp/min_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/min_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/max_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 50
    
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/min_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/max_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu4/min_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/polling_interval 50


    write /proc/sys/vm/swappiness 1
    write /proc/sys/vm/vfs_cache_pressure 100

# Battery
on property:persist.performance.profile=3

    setprop "persist.cpu.performance.profile" "battery"
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 4

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1228800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1056000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

    write /sys/devices/system/cpu/cpu0/core_ctl/busy_down_thres "70 70 70 70"
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_up_thres "80 80 80 80"

    write /sys/devices/system/cpu/cpu4/core_ctl/busy_down_thres "80 80 80 80"
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_up_thres "90 90 90 90"

    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 1
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 30

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 257000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 257000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"

    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 2288
    write /sys/class/devfreq/soc:qcom,cpubw/max_freq 8132
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50

    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 762
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 2597
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cdsp/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/max_freq 844800000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/min_freq 762
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/max_freq 2597
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu4/min_freq 762
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/max_freq 2597
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/max_freq 844800000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu4/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/max_freq 844800000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/polling_interval 50

    write /proc/sys/vm/swappiness 60
    write /proc/sys/vm/vfs_cache_pressure 100

# Gaming
on property:persist.performance.profile=2

    setprop "persist.cpu.performance.profile" "gaming"
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 4

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 4

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 2000

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 257000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 710000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active "N"

    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 14236
    write /sys/class/devfreq/soc:qcom,cpubw/max_freq 14236
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50

    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 6881
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 6881
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cdsp/min_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/min_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/max_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu4/min_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/max_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu4/min_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/polling_interval 50
	
    write /proc/sys/vm/swappiness 1
    write /proc/sys/vm/vfs_cache_pressure 100
    
# Balance (default profile)
on property:persist.performance.profile=4

    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 4

    setprop "persist.cpu.performance.profile" "balance2"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000


    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 2

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 300

    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 180000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 675000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 2288
    write /sys/class/devfreq/soc:qcom,cpubw/max_freq 14236
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50

    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/min_freq 2000
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/max_freq 6881
    write /sys/devices/platform/soc/soc:qcom,mincpubw/devfreq/soc:qcom,mincpubw/polling_interval 10

    write /sys/class/devfreq/soc:qcom,l3-cdsp/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cdsp/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/min_freq 2000
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/max_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,memlat-cpu4/min_freq 2000
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/max_freq 6881
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu0/polling_interval 50

    write /sys/class/devfreq/soc:qcom,l3-cpu4/min_freq 300000000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/max_freq 1478400000
    write /sys/class/devfreq/soc:qcom,l3-cpu4/polling_interval 50

    write /proc/sys/vm/swappiness 1
    write /proc/sys/vm/vfs_cache_pressure 100

